<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title atributos
body
    h1 Atributos
    a(href="http://google.com", target="_blank" , class="link") ir a google
    &nbsp
    a(href="http://youtube.com", target="_blank" , class="link") ir a youtube
  
