<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
body
  h1 casos
  - var amigos = 8
  case amigos
      when 0
        h4 usted no tiene amigos
      when 1
        h4 usted tiene 1 amigos
      when 2
      when 3
      when 4
        h4 usted tiene pocos amigos
      default
        h4 usted tiene #{amigos} amigos
  

  
