<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
body
    h1 condicionales
    - var autorizacion = true
      article
             if autorizacion
             img(src="imgs/fail.png")
             else
             img(src="imgs/ok.png")
